@charset "utf-8";

#login{width: 1200px; margin: 0 auto; padding: 300px 0 100px; display: flex;}
#login .img{width: calc(50% - 80px); height: 600px; background-image: url(../img/login/login_bg.png); background-size: cover; background-position: 50% 50%; margin: 0 40px;}

/* login box */
#login .container{width: calc(50% - 80px); margin: 0 40px; width: 400px; height: 600px;}
#login .container .login_box{}
#login .container .login_box h2{font-size: 24px; padding-bottom: 20px;}
#login .container .login_box .login_form{}
#login .container .login_box .login_form .logo{}

#login .container .login_box .login_form .login_id{}
#login .container .login_box .login_form .login_id input{width: 100%; height: 40px; border: none; border-bottom: 1px solid #ccc; outline-color: #ccc;}
#login .container .login_box .login_form .login_id input::placeholder{font-size: 16px; font-weight: 400; letter-spacing: -1px; color: #555;}

#login .container .login_box .login_form .login_pw{}
#login .container .login_box .login_form .login_pw input{width: 100%; height: 40px; margin: 40px 0; border: none; background-color: #fff; border-bottom: 1px solid #ccc; outline-color: #ccc;}
#login .login_register_box .login_form .login_pw input::placeholder{font-size: 16px; font-weight: 400; letter-spacing: -1px; color: #555;}

#login .container .login_box .login_form #login_btn{}
#login .container .login_box .login_form #login_btn button{width: 100%; height: 40px; border: none; background-color: #222; color: #fff; font-weight: 600; cursor: pointer; transition: opacity 0.5s; letter-spacing: 5px;}

#login .container .login_box .login_form #login_btn button:hover{opacity: 0.8;}

#login .container .login_box .login_form .login_etc{display: flex; justify-content: flex-end; padding-top: 15px;}
#login .container .login_box .login_form .login_etc a{display: block; color: #222; font-size: 14px; letter-spacing: -1px; position: relative; margin: 0 10px; padding-bottom: 3px;}
#login .container .login_box .login_form .login_etc a:first-child::after{content: ""; position: absolute; top: 50%; transform: translateY(-50%); width: 1px; height: 80%; background-color: #222; margin-left: 10px;}
#login .container .login_box .login_form .login_etc a::before{content: ""; position: absolute; bottom: 0; left: 0; width: 0%; height: 1px; background-color: #000; transition: width 0.3s;}

#login .container .login_box .login_form .login_etc a:hover::before{width: 100%;}

/* register */
#login .container .register_box{}
#login .container .register_box h2{font-size: 24px; padding: 50px 0 20px;}
#login .container .register_box .txt{}
#login .container .register_box .txt p{font-size: 14px; color: #333; padding-bottom: 5px;}
#login .container .register_box .txt p::before{content: "-"; margin-right: 5px;}

#login .container .register_box #register_btn{padding-top: 40px;}
#login .container .register_box #register_btn button{width: 100%; height: 40px; border: none; background-color: #222; transition: opacity 0.5s;}
#login .container .register_box #register_btn button a{color: #fff; font-weight: 600; letter-spacing: 5px;}

#login .container .register_box #register_btn button:hover{opacity: 0.8;}

@media (max-width:1199px){
  #login{width: 100%;}
}
@media (max-width:991px){
  #login{width: 100%;}
}
@media (max-width:767px){
  #login .img{display: none;}
  #login .container{margin: 0 auto;}
}